{% extends 'todproof/base.html' %}

{% block content %}
<!-- <center> -->
  <!-- <h2>Message: <i>{{ assignment }}</i></h2> -->
  <h2>Assignment</h2>
  <!-- <br> -->
  <strong>Id:</strong>&nbsp;&nbsp;{{ assignment.id }}<br>
  <strong>Role:</strong>&nbsp;&nbsp;{{ assignment.role }}<br>
  <strong>Active:</strong>&nbsp;&nbsp;{{ assignment.active }}<br>
  <strong>Place:</strong>&nbsp;&nbsp;{{ assignment.place }}<br>
{% if user.cur_assign and user.cur_assign.role in 'MT,HT,NT,EP' %}
  <strong>Content imported:</strong>&nbsp;&nbsp;{{ assignment.ci }}<br>
  <strong>Content:</strong>&nbsp;&nbsp;
  {% if assignment.ci %}
  <a class="btn btn-xs btn-danger" href="">Delete Content</a> <!--% url 'delete-lookup' translation.message.id translation.id %--><br>
  {% else %}
  <a class="btn btn-xs btn-primary" href="{% url 'import-content-for-validation' assignment.id %}">Validate Content</a> <!---->
  <a class="btn btn-xs btn-primary" href="{% url 'import-content' assignment.id %}">Import Content</a> <!----><br>
  {% endif %}
{% endif %}
  <!--<strong>Translation:</strong>&nbsp;&nbsp;{{ assignment.translation }}<br>-->
  <strong>Translation:</strong>&nbsp;&nbsp;<a href="{% url 'show-message-translation' assignment.translation.message.id assignment.translation.id %}">{{ assignment.translation }}</a><br>
  <strong>User:</strong>&nbsp;&nbsp;{{ assignment.user }}<br>
  <strong>Status:</strong>&nbsp;&nbsp;{{ assignment.status }}<br>
  <strong>Final Create additions:</strong>&nbsp;&nbsp;{{ assignment.ccs }}<br>
  <strong>- by klearing:</strong>&nbsp;&nbsp;{{ assignment.ccs_k }}<br>
  <strong>- by modding:</strong>&nbsp;&nbsp;{{ assignment.ccs_m }}<br>
  <strong>Final Vote additions:</strong>&nbsp;&nbsp;{{ assignment.vcs }}<br>
  <strong>- by accepting:</strong>&nbsp;&nbsp;{{ assignment.vcs_a }}<br>
  <strong>- by creating:</strong>&nbsp;&nbsp;{{ assignment.vcs_c }}<br>
  <strong>- by topping:</strong>&nbsp;&nbsp;{{ assignment.vcs_t }}<br>
  <strong>- by picking:</strong>&nbsp;&nbsp;{{ assignment.vcs_p }}<br>
  <strong>Final Create time (s):</strong>&nbsp;&nbsp;{{ assignment.ct }}<br>
  <strong>Final Vote time (s):</strong>&nbsp;&nbsp;{{ assignment.vt }}<br>
  <strong>Final Majority Top Changes:</strong>&nbsp;&nbsp;{{ assignment.majtes }}<br>
  <strong>Final Tie Top Changes:</strong>&nbsp;&nbsp;{{ assignment.tietes }}<br>
  <strong>Notes:</strong>&nbsp;&nbsp;{{ assignment.notes }}<br>
  <!-- </center> -->
  <hr>
  <a class="btn btn-xs btn-primary" href="{% url 'update-assignment' assignment.id %}">Edit</a> <!---->
  <a class="btn btn-xs btn-danger" href="{% url 'delete-assignment' assignment.id %}">Delete</a> <!---->
  <a class="btn btn-xs btn-success" href="{% url 'index-assignments' %}">View ALL Assignments</a>
  &nbsp;
  <a class="btn btn-xs btn-primary" href="{% url 'create-assignment' %}">New Assignment</a> <!---->
{% endblock %}