{% extends 'todproof/base.html' %}

{% block content %}
<!-- <center> -->
  <!-- <h2>Translation: <i>{{ translation }}</i></h2> -->
  <h2>Translation</h2>
  <!-- <br> -->
  <strong>Id:</strong>&nbsp;&nbsp;{{ translation.id }}<br>
  <strong>Language:</strong>&nbsp;&nbsp;{{ translation.lan }}<br>
  <strong>Translated Title:</strong>&nbsp;&nbsp;{{ translation.tran_title }}<br>
  <strong>English Translation:</strong>&nbsp;&nbsp;{{ translation.eng_tran }}<br>
  <strong>Description:</strong>&nbsp;&nbsp;{{ translation.description }}<br>
  <strong>Block Count:</strong>&nbsp;&nbsp;<i>{{ translation.blkc }}</i><br>
  <strong>Sub-block Count:</strong>&nbsp;&nbsp;{{ translation.subc }}<br>
  <strong>Sentence Count:</strong>&nbsp;&nbsp;{{ translation.senc }}<br>
  <strong>Transcription:</strong>&nbsp;&nbsp;{{ translation.xcrip }}<br>
{% if translation.lan == 'ENG' %}
  <strong>Lookup Imported:</strong>&nbsp;&nbsp;{{ translation.li }}<br>
  {% if translation.li %}
  <strong>Lookup:</strong>&nbsp;&nbsp;<a class="btn btn-xs btn-danger" href="{% url 'delete-lookup' translation.message.id translation.id %}">Delete Lookup</a> <!----><br>
  {% else %}
  <strong>Lookup:</strong>&nbsp;&nbsp;<a class="btn btn-xs btn-primary" href="{% url 'import-lookup' translation.message.id translation.id %}">Import Lookup</a> <!----><br>
  {% endif %}
{% else %}
<strong>Translate Additions Randomized:</strong>&nbsp;&nbsp;{{ translation.li }}<br>
  {% if not translation.li %}
<strong>Randomization:</strong>&nbsp;&nbsp;{{ translation.None }}<br>
  {% endif %}
{% endif %}
  <strong>Message:</strong>&nbsp;&nbsp;<a href="{% url 'show-message' translation.message.id %}">{{translation.message}}</a><br>  
  <strong>Publication Date:</strong>&nbsp;&nbsp;{{ translation.pubdate }}<br>
  <strong>Version:</strong>&nbsp;&nbsp;{{ translation.version }}<br>  
  <!-- </center> -->
  <hr>
  <a class="btn btn-xs btn-primary" href="">Edit</a> <!--% url 'update-message-translation' message.id translation.id %-->
  <a class="btn btn-xs btn-danger" href="">Delete</a> <!--% url 'delete-message-translation' message.id translation.id %-->
  <a class="btn btn-xs btn-success" href="{% url 'index-messages' %}">View Translations</a>
  &nbsp;
  <!-- <a class="btn btn-outline-secondary btn-sm" href="{% url 'create-message' %}">New Message</a> -->
  <!--<a class="btn btn-outline-secondary btn-sm" href="{% url 'create-translation' message.id %}">New Translation</a> -->
  <a class="btn btn-xs btn-primary" href="{% url 'create-assignment' %}">New Assignment</a> <!---->
  <a class="btn btn-xs btn-primary" href="{% url 'create-sentence' translation.id %}">New Sentence</a>
  
  <center><h2>Assignments</h2></center>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Role</th>
        <th scope="col">Active</th>
        <th scope="col">Status</th>
        <th scope="col">CI</th>
        <th scope="col">Place</th>
        <th scope="col">TCs</th>
        <th scope="col">CCs</th>
        <th scope="col">VCs</th>
        <th scope="col">ECs</th>
        <th scope="col">TotCs</th>
        <th scope="col">#Sens</th>
        <th scope="col">VT</th>
        <th scope="col">CT</th>
        <th scope="col">TotT</th>
        <th scope="col">M TEs</th>
        <th scope="col">T TEs</th>
        <th scope="col">Z TEs</th>
        <th scope="col">N TEs</th>
        <th scope="col">TotTEs</th>
        <th scope="col">User</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
{% for assignment in assignments %}
      <tr>
        <td><a href="{% url 'show-assignment' assignment.id %}">{{assignment.id}}</a></td>
        <td>{{assignment.role}}</td>
        <td>{{assignment.active}}</td>
        <td>{{assignment.status}}</td>
        <td>{{assignment.ci}}</td>
        <td>{{assignment.place}}</td>
        <td></td>
        <td>{{assignment.ccs}}</td>
        <td>{{assignment.vcs}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{assignment.vt}}</td>
        <td>{{assignment.ct}}</td>
        <td></td>
        <td>{{assignment.majtes}}</td>
        <td>{{assignment.tietes}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{assignment.user}}</td>
        <td><a href="{% url 'update-assignment' assignment.id %}">Edit</a>&nbsp;&nbsp;<a href="{% url 'delete-assignment' assignment.id %}">Delete</a></td>
      </tr>
{% endfor %}
    </tbody>
  </table>

  <center><h2>Sentences</h2></center>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Blk</th>
        <th scope="col">Sub</th>
        <th scope="col">RSub</th>
        <th scope="col">Sen</th>
        <th scope="col">RSen</th>
        <th scope="col">Typ</th>
        <th scope="col">Tie</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
{% for sentence in sentences %}
      <tr>
        <td><a href="{% url 'show-sentence' translation.id sentence.id %}">{{sentence.id}}</a></td> <!---->
        <td>{{sentence.blk}}</td>
        <td>{{sentence.sub}}</td>
        <td>{{sentence.rsub}}</td>
        <td>{{sentence.sen}}</td>
        <td>{{sentence.rsen}}</td>
        <td>{{sentence.typ}}</td>
        <td>{{sentence.tie}}</td>
        <td><a href="{% url 'update-sentence' translation.id sentence.id %}">Edit</a>&nbsp;&nbsp;<a href="{% url 'delete-sentence' translation.id sentence.id %}">Delete</a></td>
        <!----> <!---->
      </tr>
{% endfor %}
    </tbody>
  </table>

  <center><h2>Lookups</h2></center>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Blk</th>
        <th scope="col">Sub</th>
        <th scope="col">RSub</th>
      </tr>
    </thead>
    <tbody>
{% for lookup in lookups %}
      <tr>
        <td>{{lookup.id}}</td>
        <td>{{lookup.blk}}</td>
        <td>{{lookup.sub}}</td>
        <td>{{lookup.rsub}}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>

{% endblock %}